<div class="container">
    <div class="row">
        <div class="col-12">
            <input type="text" placeholder="Contract address"  class="form-control" [(ngModel)]="collectionAddress" style="width:500px">
            <input type="text" placeholder="Green price"  class="form-control" [(ngModel)]="greenPrice" style="width:500px">
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="loadCollectionData()">Load collection</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="contractDelete()">Delete existing rank</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="contractMonitor()">Add contract for monitoring</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="contractUpdateRank()">Update rank now</button>
        </div>
    </div>

    <div class="row" *ngIf="isLoadingData" >
        <div class="text-bos">
            <span>Loading ....</span>
        </div>
    </div>
    <div class="row" *ngIf="!resultData?.isRevealed; else dataRevealed" >
        <div class="col-10">
            <span>NOT Revealed YET</span>
        </div>
    </div>
    <ng-template #dataRevealed>
        <div class="col-10" *ngIf="! (resultData?.contractStatus === 'Revealed')">
            <span>Reveal status {{resultData?.contractStatus}}</span>
        </div>

        <div class="row" >
            <div class="col-10">
                TotalSupply : {{resultData?.totalSupply}}
            </div>
        </div>
        <div class="row" *ngIf="resultData?.data?.length">
            <div class="col-12">
                <div
                        infiniteScroll
                        [infiniteScrollDistance]="2"
                        [infiniteScrollThrottle]="150"
                        (scrolled)="onScroll()"
                >
                    <ng-container *ngFor="let rankData of resultData?.data">
                        <app-nft-component
                                [rankData]="rankData"
                                [greenPrice]="greenPrice"
                                [contractAddress]="collectionAddress"
                        ></app-nft-component>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-template>


</div>


