<div class="container">
    <div class="row">
        <div class="col-12">
            <input type="text" placeholder="Contract address"  class="form-control" [(ngModel)]="collectionAddress" style="width:500px">
            <button type="button" class="btn btn-primary" (click)="searchContract()">search</button>
        </div>
    </div>
    <div class="row" *ngIf="contractSearchResult">
        <div class="row justify-content-end">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <label>Total supply</label>
                        <input type="text" placeholder="Total supply"  class="form-control" [(ngModel)]="contractSearchResult!.contractDataModel!.totalSupply" style="width:500px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>startTokenId</label>
                        <input type="text" placeholder="startTokenId"  class="form-control" [(ngModel)]="contractSearchResult!.contractDataModel!.startTokenId" style="width:500px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>startTokenURI</label>
                        <input type="text" placeholder="startTokenURI"  class="form-control" [(ngModel)]="contractSearchResult!.contractDataModel!.startTokenURI" style="width:500px">
                    </div>
                </div>
            </div>
            <div class="col-6">

                <div class="row">
                    <div class="col-6">
                        <label>Exclude numbers</label>
                        <input type="text" placeholder="Exclude numbers"  class="form-control" [(ngModel)]="contractSearchResult!.rarityOptions!.excludeNumbers" style="width:500px">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label>includeTraitsCount</label>
                        <input type="text" placeholder="includeTraitsCount"  class="form-control" [(ngModel)]="contractSearchResult!.rarityOptions!.includeTraitsCount" style="width:500px">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label>includeNoneValues</label>
                        <input type="text" placeholder="includeNoneValues"  class="form-control" [(ngModel)]="contractSearchResult!.rarityOptions!.includeNoneValues" style="width:500px">
                    </div>
                </div>


                <div class="row">
                    <div class="col-6">
                        <label>normalizeValues</label>
                        <input type="text" placeholder="normalizeValues"  class="form-control" [(ngModel)]="contractSearchResult!.rarityOptions!.normalizeValues" style="width:500px">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label>algorithmType</label>
                        <input type="text" placeholder="algorithmType"  class="form-control" [(ngModel)]="contractSearchResult!.rarityOptions!.algorithmType" style="width:500px">
                    </div>
                </div>
            </div>
        </div>


        <div class="row justify-content-end">
            <div class="col-2">
                <button type="button" class="btn btn-primary" (click)="saveContract()">Save contract</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary" (click)="contractMonitor()">Add monitoring</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary" (click)="rankContract()">Rank</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary" (click)="contractUpdateRank()">Rank no tests</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary" [routerLink]="['/contracts']">Back</button>
            </div>
        </div>

    </div>

</div>