<div class="container">
    <div class="row"><button type="button" class="btn btn-primary" (click)="authenticate()">Authenticate</button></div>

    <div class="row">
        <div class="col-12">
            <input type="text" placeholder="Search"  class="form-control" style="width:500px">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-primary" (click)="loadContracts()">Load collection</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary" [routerLink]="['/contracts', 'add']">Add new collection</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row" *ngIf="isLoadingData" >
        <div class="text-bos">
            <span>Loading ....</span>
        </div>
    </div>
    <div class="row" *ngIf="resultData?.data?.length">
        <div class="col-12">
            <div class="row">
                <div class="col-4">Adresa</div>
                <div class="col-2">Name</div>
                <div class="col-2">Status</div>
                <div class="col-1">Start index</div>
                <div class="col-1">Total supply</div>
                <div class="col-2">Include traits</div>
            </div>
        </div>
        <div class="col-12">
            <div
                    infiniteScroll
                    [infiniteScrollDistance]="2"
                    [infiniteScrollThrottle]="150"
                    (scrolled)="onScroll()"
            >
                <ng-container *ngFor="let contract of resultData?.data">
                    <div class="row">
                        <div class="col-4">{{contract!.contractAddress}}</div>
                        <div class="col-2">{{contract!.name}}</div>
                        <div class="col-2">{{contract!.status}}</div>
                        <div class="col-1">{{contract!.startTokenId}}</div>
                        <div class="col-1">{{contract!.totalSupply}}</div>
                        <div class="col-2">{{contract!.rarityOptions?.includeTraitsCount}}</div>
                    </div>
                    <div class="row justify-content-end">
                            <button type="button" class="btn btn-primary" [routerLink]="['/contracts/rank', contract!.contractAddress]">View rank</button>
                            <button type="button" class="btn btn-primary" [routerLink]="['/contracts', contract!.contractAddress]">Edit</button>
                            <button type="button" class="btn btn-primary" (click)="contractDelete(contract!.contractAddress)">Delete</button>
                            <button type="button" class="btn btn-primary" (click)="contractMonitor(contract!.contractAddress)">Monitor</button>
                            <button type="button" class="btn btn-primary" (click)="contractUpdateRank(contract!.contractAddress)">Rank now</button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>


</div>


