    <div class="row">
        <div class="col-2"><b>#{{_rankData!.rank}}</b></div>
        <div class="col-4">Rarity score {{_rankData!.rarityScore}}</div>
        <div class="col-2"><b>ID: {{_rankData!.tokenId}}</b></div>
        <div class="col-4" *ngIf="_openSeaData" >
            <div *ngIf="_rankData!.salePrice" >
                <div ><a [href]="_rankData!.saleLink" target="_blank" [class.h1]="_rankData!.salePrice <= greenPrice"> Opensea price: {{_rankData!.salePrice}}</a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ng-container *ngFor="let attribute of _rankData!.attributes">
                <ng-container
                        *ngTemplateOutlet="
                                  attributeTemplate;
                                  context: { attribute: attribute }
                                "
                ></ng-container>
            </ng-container>

        </div>
        <div class="col-6">
            <img src="{{_rankData!.openseaImage}}" alt="Angular" loading="lazy" height="200px" width="200px">
            <br>
            <a href="{{_rankData!.image}}" target="_blank">real image</a>
        </div>
    </div>

    <ng-template #attributeTemplate let-attribute="attribute">
        <div>{{attribute.trait_type}} - {{attribute.value}} : count {{attribute.count}} / %{{attribute.percentage}} - ({{attribute.rarityScore}})</div>
    </ng-template>
